<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="seaport.png">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/scripts.js" defer></script>
    <title>Seaport 88 Gathering</title>
</head>
<body>

<div>Last Day {{.Sale}}, {{.Time}}</div>

<div class="header">
<img src="../static/Seaport.png" width="60px" hieght="50px" alt="Logo">
<h3>  SEAPORT'88 GATHERING</h3>
</div>

    

<div class="wrapper">
<a id="top"></a>
<h2>
Ada bas… ada lori…
Ayam memang best masak ngan kari…
Once again we’re gonna have a party…
To celebrate Class of ’88 35th Anniversary.
</h2>

<p> After almost 3 years since the pandemic hit us and with the MCOs…etc…, we are now moving towards and in the stage of endemic, it’s just couldn’t be a better time to celebrate our 35th Anniversary! </p>
<p> For those who have missed out, kali ni, it’s our 5th edition of Anniversary Celebration. Quick recap:
<ul>1998 – 10th Anniversary</ul>
<ul>2009 – 20th Anniversary</ul>
<ul>2013 -  25th Anniversary</ul>
<ul>2018 – 30th Annversary</ul>
</p>

<div class="hero-image">
    <div class="hero-text">
        <h1>" A Sweet Friendship Refreshes The Soul"</h1>
    </div>
</div>

<p>In 2018, we had the largest turnout of 128 including 5 teachers! Well done and thank you to all Seaportians who have directly and indirectly contributed in growing the attendance list back then.</p>
<p>We hoping for a similar number of attendees. So far in our database we have 221 contacts for the whole of Class of ’88. Kalo semuo boleh datang, this 35th Anniversary will go down in Hari Ini Dalam Sejarah.</p>
<p>Nonetheless, if you can take some time off and join us to catch up, that’ll be awesome!. So, long story short, here are the details:</p>
<p>
<ul>Date: Saturday, 17 June 2023</ul>
<ul>Venue: To be confirmed</ul>
<ul>Time: 6.00pm sampai hotel tutup</ul>
<ul>Price per head: RM 120.00nett – RM 160.00nett (TBC)</ul>
<ul>Dress Code: Dress to Impress?</ul>
<ul><strong>RSVP BY: 31 December 2022 - AT BELOW FORM</strong></ul>
</p>

<p>Sesiapa yang missed all of our reunion, I hope you will join kali ni…I cannot promise much but I am pretty sure you will have A Jolly Good Time!!! </p>
<p>We will not be making any collection yet until sometime in January 2023 but are looking at the RSVP for headcount. Lebih ramai orang join, the better we can negotiate with the venues for a better price per head.</p>
<p>On behalf of our Lifetime President of Class of ‘88, Encik Zamanhuri, I would like to take this opportunity to thank you banyak banyak for considering and/or confirming your attendance.</p>

<p>
<h3>
<strong>Sekian. Terima Kasih. Majulah Sukan Untuk Negara. </strong>
<br>
<strong>Raymond Chia – 5A (Merak)</strong>
<a href="https://wa.me/60192673032" target="_blank">Whatsapp With Questions Here</a>
<br>
</p>

</div>

<div class="frame">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdYsXUgCqiCY_uJ6xSs3Op-yXHOwow4oROG2JRpKSzfToztew/viewform?embedded=true" width="360" height="1260" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<p> </p>

<div>
    <h1>
        <button id="genNew"><a href="#top">Back to Top</button>
        <span id="color"></span>
        </h1>
</div>

<div class="footer">
<h4>Countdown To Our Reunion: <span id="demo"></span></h4>
<p>Current Time Is: <span id="time"></p>
</div>

</body>
</html>
